.DS_Store
.cache/
.config/
.dart-tool/
.dart/
.dartServer/
.flutter
.gk/
.lesshst
.local/
.m2/
.nix-defexpr/
.nix-profile
.pub-cache/
.redhat/
.ssh/
.swiftpm/
.viminfo
.vscode/
.zcompdump
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
code-hub/